out
test
.idea
src/com/snakefeather/test
src/com/snakefeather/filemanager/snakefeather.java

.gitignore
*.class
*.jar
*.imi
*.properties
*.txt
config
design


# 设计图
# design
*.psd
UpdateLog.md

# eclipse
.settings
.classpath
.project